*{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	box-sizing:border-box;
}

body{
	height:100vh;
	display:flex;
	
	justify-content:center;
	
}
.search{
	position:relative;
	width:50px;
	height:50px;
	top:100px;
	text-align:center;
	line-height:55px;
	background-color:rgb(16,141,190);
	border-radius:30px;
	overflow:hidden;
	transition:.8s;
	box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.search:hover{
	width:300px;
}
.search:hover i{
	position:absolute;
	right:15px;
	top:12px;
	cursor:pointer;
}
.search:hover input{
	display:block;
	position:absolute;
	background:transparent;
	color:#fff;
	height:32px;
	font-size:larger;
	top:8px;
	left:20px;
	width:230px;
	border:none;
}
.search input{
	display:none;
}
.search i {
	color:#fff;
	font-size:22px;
}
#match-list{
	padding-left: 20px;
	padding-right:20px;

}
.container-background{
	display: flex;
	padding-left:8px;
	padding-right:8px;
	cursor:pointer;
	background-color: #CCC;
	margin-top: 12px;
	margin-bottom: 12px;
	transition: all 0.2s ease-in-out;
}
.list-container{
	position:absolute;
	background: white;
	width: 400px;
	z-index:100;
	top:150px;
	left:500px;
	border-radius:30px;
	bottom: 320px;
	display:flex;
}
.list
{
	padding-left: 20px;
	padding-right:20px;
	overflow-y:scroll;
	flex-grow:1;
	
}
